include pug_variables.pug


mixin Head
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='Piotr Maksymiuk Portfolio')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet' href='./styles/style.css')
        script(src='./scripts/main.js' defer)
        title Piotr Maksymiuk portfolio

mixin NavigationBar
    nav
        article#home
            a(href='#Home')  home 
        article#name
            a(href='#About')  Piotr Maksymiuk 
        article#skills
            a(href='#Skills') skills
        article#projects
            a(href='#Projects') projects

mixin Works
    each project in Projects
        a.hovercontroll(href = project.link data-overlay = project.datasrc data-offset = '50px' data-description = project.text target = "_blank" rel="noopener") #{project.alt}
        br

mixin Footer
    footer(id="footer")
        a(id="facebook" href="https://www.facebook.com/piotr.maksymiuk.940") facebook
        a(id="github" href="https://github.com/Kiszuriwalilibori") github

mixin About   
    #About.about
        .column.r-gr
            h3 About
            p #{texts.about1}
            p #{texts.about2}
            p #{texts.about3}
        .column.l-gr
            h3 Contact
            p #{texts.contact1}
                a(href="mailto:piotrmaksymiuk@yahoo.com.com") #{texts.contact2}
            p #{texts.contact4} 
            p #{texts.contact5}   
            p.h-center #{texts.contact3}
            
            p.h-center
                a(href="https://www.facebook.com/piotr.maksymiuk.940") facebook
            p.h-center
                a(href="mailto:piotrmaksymiuk@yahoo.com.com") mail
            p.h-center
                a(href="https://github.com/Kiszuriwalilibori") Git Hub    

mixin Skills
    #Skills.about
        .column(class ='full-column')
            h3 Skills
            ul
                li(class ='skill_r-gr')
                    p.right #{texts.skill1}
                    p.left HTML
                    p.left CSS, SCSS
                    p.left JS
                    p.left React.js
                    p.left Redux
                    p.left React-Router
                    p.left Material UI
                    p.left jQuery

                li(class ='skill_l-gr')
                    p.right #{texts.skill2}
                    p.left Styled Components
                    p.left Linux
                    p.left Bootstrap

                li(class ='r-gr')
                    p.right #{texts.skill3}
                    p.left advanced node.js features
                    p.left SQL
                    p.left PHP
mixin Home
    #Home.home.r-gr
        img.home__foto(alt = 'author foto' src ='./project_images/foto1.png')

        p.left Piotr Maksymiuk
        p.right Web-Developer in spe
        
mixin Projects
    .home-page.r-gr(ID ="Projects")
        .overlay.frame(style='visibility: hidden;')
            img(src ='blank_overlay.gif')
        .description
        +Works
        
doctype html
html(lang ='en')
    +Head
    body
        +NavigationBar
        main
            +Projects
            +About
            +Skills
            +Home
        +Footer
        