include pug_variables.pug

mixin Head
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='Piotr Maksymiuk Portfolio' description = 'Piotr Maksymiuk Portfolio' )
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(property='og:title' content='Piotr Maksymiuk - Portfolio Archival2')
        meta(property='og:type' content='Portfolio')
        meta(property='og:url' content='https://kiszuriwalilibori.github.io/Portfolio_Archiwalne_2/#Home')
        link(rel='stylesheet' href='./styles/style.css')
        link(rel="icon" href="./project_images/foto1.png")
        script(src='./js/bundle.js' defer)
        link(rel='preload' href='styles/noto/noto.woff' as='font' crossorigin='anonymous')
        link(rel='preload' href='styles/oregano/oregano-regularitalic-webfont.woff2' as='font' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js' defer)
        script(src='./js/modernizr-custom.js' defer)
        link(rel="preload" as="image" href="https://raw.githubusercontent.com/Kiszuriwalilibori/Portfolio_Archiwalne_2/master/docs/project_images/moon.jpg")
        title Piotr Maksymiuk portfolio archiwalne

mixin NavigationBar
    nav
        article#home
            a(href='#Home')  home 
        article#name
            a(href='#About')  Piotr Maksymiuk 
        article#skills
            a(href='#Skills') skills
        article#projects
            a(href='#Projects') projects

mixin Works
    .projects-container-left-padded.projects-container-top-padded
        each project in Projects
            a.hover_controller(href = project.link data-overlay = project.datasrc data-offset = '50px' data-description = project.description +". Technologie: " + project.text target = "_blank" rel="noopener") #{project.alt}
            br


mixin Footer
    footer(id="footer")
        a.facebook(id="facebook" href="https://www.facebook.com/piotr.maksymiuk.940") facebook
        a.github(id="github" href="https://github.com/Kiszuriwalilibori") github

mixin About   
    #About
        .column.r-gr
            h3 About
            p #{texts.about1}
            p #{texts.about2}
            p #{texts.about3}
        .column.l-gr
            h3 Contact
            p #{texts.contact1}
                a(href="mailto:piotrmaksymiuk@yahoo.com.com") #{texts.contact2}
            p #{texts.contact4} 
            p #{texts.contact5}   
            p.neon-centered #{texts.contact3}
            .contact_wrapper
                span.neon-centered
                    a(href="https://www.facebook.com/piotr.maksymiuk.940")
                        img(src='./project_images/icons/fb.png')
                span.neon-centered
                    a(href="mailto:piotrmaksymiuk@yahoo.com.com")
                        img(src='./project_images/icons/mail.png')
                span.neon-centered
                    a(href="https://github.com/Kiszuriwalilibori")
                        img(src='./project_images/icons/github.png')

mixin Skills
    #Skills
        .column.full-column
            h3 Skills
            ul
                li
                    p.right #{texts.skill1}
                    .skills.left
                        img.skills_material(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_css(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_html5(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_jquery(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_js(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_react(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABZAQMAAADyyBNkAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABJJREFUeNpjYBgFo2AUjILhCAAE3gABHSTXFQAAAABJRU5ErkJggg==")
                        img.skills_redux(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABaAQMAAAB0XGHKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABJJREFUeNpjYBgFo2AUjILhDwAE7AABJ87WUwAAAABJRU5ErkJggg==")
                        img.skills_router(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_sass(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                li
                    p.right #{texts.skill2}
                    .skills.left
                        img.skills_linux(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_bootstrap(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABUAQMAAABOVgC6AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABJJREFUeNpjYBgFo2AUjILBBQAEmAABGhAMJQAAAABJRU5ErkJggg==")
                        img.skills_styled(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_pug(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_redux(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABaAQMAAAB0XGHKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABJJREFUeNpjYBgFo2AUjILhDwAE7AABJ87WUwAAAABJRU5ErkJggg==")

                li
                    p.right #{texts.skill3}
                    .skills.left
                        img.skills_mysql(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABRJREFUeNpjYBgFo2AUjIJRQE8AAAV4AAHYKaK4AAAAAElFTkSuQmCC")
                        img.skills_php(alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAA1AQMAAACN/txFAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFo2C4AwAC5gABAK7QwQAAAABJRU5ErkJggg==")
mixin Home
    #Home.home.r-gr
        .author-foto
        p.left Piotr Maksymiuk
        p.right Web-Developer
        
mixin Projects
    #Projects.r-gr
        .overlay.frame(style='visibility: hidden;')
            img(src ='blank_overlay.gif' alt='')
        .description
        +Works
        
doctype html
html(lang ='en' ID ='HTML')
    +Head
    canvas(ID='canvas')
    body
        canvas(ID='canvas')
        .ufo
        div(id="loader-wrapper")
            .load
                hr
                hr
                hr
                hr
        +NavigationBar
        main
            +Projects
            +About
            +Skills
            +Home
        +Footer
        